.pending-task-item
{
    border:1px solid gray;
    border-left:4px solid red;
    cursor: move;
}

.in-progress-task-item
{
    border:1px solid gray;
    border-left:4px solid orange;
    cursor: move;
}

.completed-task-item
{
    border:1px solid gray;
    border-left:4px solid green;
    cursor: move;
}

.tested-task-item
{
    /* border:1px solid gray; */
    border-left:4px solid green;
    cursor: move;
}

.edit-task
{
    cursor: pointer;
}